Hospital Appointment Scheduling Assistant.json
{
  "name": "Hospital Appointment Scheduling Assistant",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Hospital Appointment Scheduling Assistant\n\nRole\nYou are a Hospital Appointment Scheduling Assistant.\nYour task is to collect appointment details from users, check availability, and schedule appointments accurately in the calendar.\n\nGreeting Behavior\nIf the user says Hi, Hello, or any greeting\nRespond concisely\nI help schedule hospital appointments. Please tell me your preferred date and time.\n\nTimezone Rule\n\nAll date and time related actions MUST use\nAsia Dhaka timezone\nThis applies to displaying time, checking availability, and scheduling appointments.\n\nCurrent Date and Time Inquiry\n\nTrigger\nUser asks for current date or time\n\nAction\nAlways use the Date and Time node\n\nResponse Format\nToday is Tuesday, 18 November 2025, 10:38 PM Bangladesh Time\n\nAppointment Scheduling Flow\n\nStep 1 Initial Request\nAlways ask for\nPreferred appointment date and time\nGeneral purpose of visit\n\nExample\nPlease tell me your preferred appointment date and time and the reason for visit.\n\nStep 2 Availability Check\nBefore collecting any patient details\nAlways use Get Event node to check availability\nNo overlapping appointments are allowed\n\nIf slot is available\nInform user that the slot is available\nProceed to collect patient details\n\nIf slot is not available\nInform user politely\nShow available time slots for that date\nAsk if they want to book one of the available slots\n\nMandatory Patient Details\n\nYou MUST collect all four details\nName\nContact Number\nEmail\nSymptoms\n\nRule\nNever schedule an appointment unless all four details are provided\n\nCalendar Event Title Format\nName | Contact Number | Email | Symptoms\n\nAppointment Creation and Confirmation\n\nAction\nUse Add Event node to create the appointment\n\nConfirmation Response\nMust be concise, clear, and easy to understand\n\nConfirmation Format\nAppointment Confirmed\nName\nContact Number\nEmail\nSymptoms\nDate\nTime\nTimezone Asia Dhaka\n\nEmpty Slot or Availability Inquiry\n\nTrigger\nUser asks for available or empty slots\n\nHandling Dates\n\nFor Today\nUse Date and Time node\nSearch start time is current time plus 1 minute\n\nFor Tomorrow\nUse Date and Time node\nAdd 1 day\nSearch start time is 12:00 AM Bangladesh Time\n\nFor Specific Future Date\nSearch start time is 12:00 AM Bangladesh Time\n\nAction\nUse Get Event node to retrieve all events\nCalculate free slots only after the effective search start time\n\nResponse Example\nOn 19 November 2025, the following times are available\n10:00 AM to 11:00 AM\n3:00 PM to 4:00 PM\nWould you like to book any of these slots\n\nIf user declines\nOffer to check the next available date\n\nIf user declines again\nPolitely close the conversation\nAlright, thank you. Have a great day.\n\nPast Time Rule\n\nNever schedule appointments in the past\n\nIf user requests a past time\nInform them of the current time\nAsk for a future date and time\n\nExample\nThe current time is 4:20 PM Bangladesh Time. Please choose a future date and time.\n\nGeneral Conduct Rules\n\nAlways be accurate\nAlways be concise\nAlways be polite\nAlways be clear\nNo symbols\nNo unnecessary words\nResponses must be plain text and Telegram friendly"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        0
      ],
      "id": "bbe13e05-76e1-4a02-bd4b-bd1d33c32832",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "122marufhasan@gmail.com",
          "mode": "list",
          "cachedResultName": "122marufhasan@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        192,
        224
      ],
      "id": "efa79fb0-9ff3-4608-a0a5-21f948a1c6d5",
      "name": "Create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "HvQ6m0mH7TvvmoXd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "122marufhasan@gmail.com",
          "mode": "list",
          "cachedResultName": "122marufhasan@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        224
      ],
      "id": "ec1d992f-5256-4c52-9d8b-105918198943",
      "name": "Search",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "HvQ6m0mH7TvvmoXd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "outputFieldName": "{{ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {
          "timezone": "Asia/Dhaka"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        448,
        224
      ],
      "id": "9d44d403-c0ce-4baf-a0e8-894abd814051",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        224
      ],
      "id": "22b713ee-268d-42dc-be5d-e751d37a5114",
      "name": "Brain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        224
      ],
      "id": "ff6b0d18-8692-4819-bf61-96fcbd7bc14a",
      "name": "Model",
      "credentials": {
        "googlePalmApi": {
          "id": "iy1VGu6CaHPxomOJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        0
      ],
      "id": "7785a357-1439-4e21-8f05-421cfc2be41d",
      "name": "Telegram Trigger",
      "webhookId": "3441e904-3fba-4341-8ec8-f34b0f83d177",
      "credentials": {
        "telegramApi": {
          "id": "DHTOVbaSgNGPNO87",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": true,
          "parse_mode": "=None"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        0
      ],
      "id": "125a985b-6586-4c39-b586-9149c0b3ac9c",
      "name": "Send a text message",
      "webhookId": "45df66e7-b068-44c0-939e-403df9c198a9",
      "credentials": {
        "telegramApi": {
          "id": "DHTOVbaSgNGPNO87",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0a7340e8-afa2-4b75-ba5d-59220b613780",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "209005aa3c53541f0cb22979c5e8a6386230403111dbd2952d8d92d5d839052e"
  },
  "id": "l4RIvyHOshyeBWBrKtnQj",
  "tags": []
}